<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7 ie"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8 ie"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9 ie"> <![endif]-->
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Stylesheet -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/estimator.css" />
  <link rel="stylesheet" href="styles/overrides.css" />
  <!-- Javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://dwum8argi892z.cloudfront.net/js/cdc_lib_min_latest.js"></script>

  <title>
      {{nls.pages.setup.title}}
  </title>

</head>

<body>

  <div class="navbar navbar-static-top default-menu no-menu" data-com-id="com-navbar">
    <div class="container">
      <a href="/" class="logo-link">
          <h1>{{nls.title}}</h1>
      </a>
    </div><!-- container -->
  </div><!-- .navbar-static-top -->

  <div class="container container-base">

    <div class="prior-year-prep-wrapper">

      <!-- ############### Estimator ############### -->
      <section class="social-estimator">

          <div class="row">
              <!-- Heading Section -->
              <div class="main-headline col-md-12">
                  <h1 class=" text-center">{{nls.pages.setup.greeting}}</h1>
              </div><!-- .row.main-headline -->
          </div>

          <div class="row">
              <div class="main-headline col-md-12">
                  <h5 class=" text-center">{{nls.pages.setup.short_description_1}}</h5>
              </div><!-- .row.main-headline -->
          </div>

          <div class="row">
              <ul class="list-group">
                  <li class="list-group-item list-group-item-success">
                      {{nls.providers.0.name}}
                  </li>

                  <li class="list-group-item list-group-item-success">
                      {{nls.providers.1.name}}

                  </li>

                  <li class="list-group-item list-group-item-success">
                      {{nls.providers.2.name}}
                  </li>
            </ul>
          </div>
          <div class="prior-year-prep-buttons" data-com-id="pyprep-interaction">
              <a class="btn btn-responsive btn-blue beacon-this" href="/usage">Get Started!</a>
          </div>

      </section>
  </div><!-- .container -->


</body>
</html>
