<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7 ie"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8 ie"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9 ie"> <![endif]-->
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico">

  <!-- Stylesheet -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/estimator.css">
  <link rel="stylesheet" href="styles/overrides.css" />

  <!-- Javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://dwum8argi892z.cloudfront.net/js/cdc_lib_min_latest.js"></script>

  <title>
    {{nls.pages.usage.title}}
  </title>

</head>

<body>

  <div class="navbar navbar-static-top default-menu no-menu" data-com-id="com-navbar">
    <div class="container">
        <a href="/" class="logo-link">
            <h1>{{nls.title}}</h1>
        </a>
    </div><!-- container -->
  </div><!-- .navbar-static-top -->

  <div class="container container-base">

    <div class="prior-year-prep-wrapper">

      <!-- ############### Estimator ############### -->
      <section class="social-estimator">

          <div class="row">
              <!-- Heading Section -->
              <div class="main-headline col-md-12">
              </div><!-- .row.main-headline -->
          </div>

          <div class="row">
              <div class="main-headline col-md-12">
                  <h4>{{nls.pages.usage.headline}}</h4>
              </div><!-- .row.main-headline -->
          </div>

          <table class="table table-bordered">
              <tr>
                  <th>
                      Service
                  </th>
                  <th>
                    How much you use
                  </th>
                  <th>
                      How much you pay for
                  </th>
              </tr>
              <tr>
                  <td>
                      Verizon Wireless
                  </td>
                  <td class="usage">
                      <div>
                          Plan 1
                      </div>
                      <div>
                          1GB LTE
                      </div>
                      <div>
                          $19.99
                      </div>
                  </td>

                  <td class="current">
                      <div>
                          Plan 3
                      </div>
                      <div>
                          10GB LTE
                      </div>
                      <div>
                          $59.99
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                      Comcast Internet
                  </td>
                  <td class="usage">
                    <div>
                        Plan 1
                    </div>
                    <div>
                        10 mbps unlimited
                    </div>
                      <div>
                          $19.99
                      </div>
                  </td>

                  <td class="current">
                      <div>
                          Plan 3
                      </div>
                      <div>
                          50 mbps unlimited
                      </div>
                      <div>
                          $59.99
                      </div>
                  </td>

              </tr>
              <tr>
                  <td>
                      Time Warner Cable
                  </td>
                  <td class="usage">
                      <div>
                          Plan 1
                      </div>
                      <div>
                          Sports Simple
                      </div>
                      <div>
                          $19.99
                      </div>
                  </td>
                  <td class="current">
                      <div>
                          Plan 2
                      </div>
                      <div>
                          Standard
                      </div>
                      <div>
                          $29.99
                      </div>
                  </td>
              </tr>
              <tr>
                  <td>
                      Total
                  </td>
                  <td>
                      $59.97
                  </td>
                  <td>
                      $149.97
                  </td>
              </tr>
        </table>

        <div class="panel panel-default">
            <div class="panel-body bg-success">
                <h3>{{nls.pages.usage.summary1}}</h3>
                <h3>{{nls.pages.usage.summary2}}</h3>
            </div>
        </div>

      </section>
      <div class="prior-year-prep-buttons" data-com-id="pyprep-interaction">
          <a class="btn btn-responsive btn-blue beacon-this" href="/save">Shrink Now and Save!</a>
      </div>

  </div><!-- .container -->


</body>
</html>
